.roundImg {
    border-radius: 50%;
    margin: 3em;
    cursor: pointer;
}

.link {
    color: blue;
    text-decoration: underline;
}

.courseImg {
    width: 100%;
    height: 10vh;
    object-fit: cover;
    object-position: bottom;
}



.buttonWrapper {
    width: 60px;
    height: 60px;
    align-self: center;
    margin: .5em;
}

